#logo{
    position: fixed;
}
#profile{
    position: fixed;
    width: 50px;
    height: 50px;
    margin-left: 95%;
}
#mapMain{
    position: fixed;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 40%;
}

#popular_places,#plan{
    position: fixed;
    margin-top: 550px;
    margin-left: 3%;
    width: 40%;
    height: 10%;
}
#plan{
    margin-top: 670px;
}

#MapButton,#WastesButton{
    margin-top: 800px;
    width: 49%;
    height: 150px;
}