#Logo{
    position: fixed;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:none; 
    color:#000;
    cursor: pointer;
}#mapText {
    text-align: center;
}

ul {
    list-style: none; 
    padding: 0;         
    display: flex;      
    flex-wrap: wrap;    
    justify-content: space-around; 
}

ul > div {
    width: 30%;           
    margin-bottom: 20px;  
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[id^="Name"] {
    font-size: 20px;    
    margin-bottom: 5px; 
    text-align: center;   
}

iframe {
    width: 100%;        
    height: 300px;      
    border: 1px solid #ccc; 
    display: block;    
    margin: 0 auto;    
}

button,
#buttonShop,
#buttonRestaurants,
#buttonBusStop,
#buttonTheaterÐ¡inema,
#buttonHotels,
#buttonMalls,
#buttonGasStations,
#buttonPolyclinics,
#buttonSportsCenters,
#buttonBeautySalons {
    display: block;     
    width: 200px; 
    height: 50px; 
    margin: 10px auto;  
    padding: 10px;       
    background-color: #f2f2f2; 
    border: 1px solid #ccc;  
    text-align: center;  
    cursor: pointer;      
    font-size: 16px; 
    box-sizing: border-box;
}
[id^="Adrees"] {
    text-align: center;   
    font-size: 14px;     
    color: #555;          
    margin-top: 10px;
    width: 200px; 
    margin-left: auto;
    margin-right: auto;
}

body > div {
    width: 30%;            
    margin-bottom: 20px;  
    box-sizing: border-box;
    float: left; 
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::after {
    content: "";
    display: table;
    clear: both;
}